@import '../../styles/text-presets.scss';
@import '../../styles/colors.scss';
@import '../../styles/elements.scss';

.asteroid {
    @extend %text-16;
    width: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.meta_section {
    display: flex;
    gap: 0 11px;
    height: 95px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#name {
    border-bottom: 1px solid;
    line-height: 13px;
    margin: 6px 0;
}

.asteroid_info__image {
    float: left;
    margin-right: 11px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buttons__destroy,
.buttons__cancel {
    @extend %blue-button-round-24;
}

.buttons__cancel:hover,
.buttons__destroy:hover {
    @extend %button-hover
}