@import '../../styles/text-presets.scss';
@import '../../styles/colors.scss';

.asteroid {
    @extend %text-16;
    width: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.meta_section {
    display: flex;
    gap: 0 11px;
    height: 95px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#name {
    border-bottom: 1px solid;
    line-height: 12px;
    margin: 6px 0;
}

.asteroid_info__image {
    float: left;
    margin-right: 11px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buttons__destroy {
    @extend %text-11;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    background: $blue-base;
    border-radius: 24px;
    border: 0;
    padding: 2px 11px;

    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
}

.buttons__destroy:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px rgba($color: #b80101, $alpha: .3);
}