@import '../../styles/text-presets.scss';
@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.content_header_pad {
    height: $content-header-height-s;
    flex-shrink: 0;
}

.content_header {
    background-color: white;
    left: 0; right: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 8px;
    padding: 0 30px;
    height: $content-header-height-s;
}

.content_header__title {
    @extend %text-24;
}

.splitter {
    border-bottom: 1px solid $lines-gray;
}

.content_header__display_settings {
    @extend %text-16;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1600px) {
    .content_header {
       width: 1540px;
       margin: 0 auto;
    }
 }

@media only screen and (max-width: 790px) {
    .content_header {
        height: $content-header-height-m;
        padding: 0 16px;
    }

    .content_header_pad {
        height: $content-header-height-m;
    }

    .content_header__display_settings {
        flex-direction: column;
        gap: 8px 0;
    }
}

@media only screen and (max-width: 500px) {
    .content_header {
        height: $content-header-height-l;
    }

    .content_header_pad {
        height: $content-header-height-l;
    }

    .content_header__title {
        @extend %text-24;
    }
}