@import '../../styles/text-presets.scss';

.container {
    @extend %text-16;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__background {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.content {
    cursor: default;
    width: 300px;
    position: relative;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.close_button {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    transition: all .1s ease-out;
    z-index: 10;
}

.close_button:hover {
    background-color: firebrick;
    box-shadow: 0 0 3px 1px rgba($color: #b80101, $alpha: .3);

    div {
        border-top: 2px solid #fff;
    }
}

.close_button__line1 {
    border-top: 2px solid #606060;
    border-radius: 2px;
    transform: rotate(45deg);
    width: 20px;
    position: absolute;
    top: 9px;
    transition: all .1s ease-out;
}

.close_button__line2 {
    border-top: 2px solid #606060;
    border-radius: 2px;
    transform: rotate(-45deg);
    width: 20px;
    position: absolute;
    top: 9px;
    transition: all .1s ease-out;
}

.approach_list_header {
    margin-top: 10px;
    border-top: 1px solid rgb(199, 199, 199);
    text-align: center;
}

.approach_list {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 3px 0;
    padding-right: 5px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(104, 104, 104) rgb(199, 199, 199);
}

.approach_list::-webkit-scrollbar {
    width: 5px;
  }
.approach_list::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 5px;
  }
.approach_list::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
    border: 0;
  }

.approach_list__item {
    background: linear-gradient(90deg, rgba(207, 243, 125, 0.3) 0%, rgba(125, 232, 140, 0.3) 100%);
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.approach_list__danger_item {
    background: linear-gradient(90deg, rgba(255, 177, 153, 0.3) 0%, rgba(255, 8, 68, 0.3) 100%);
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.item__specs {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.item__specs_title {
    @extend %text-11;
    font-size: 12px;
}

.item__specs_data {
    @extend %text-16;
    text-align: right;
}