@import '../../styles/text-presets.scss';

.footer {
    background-color: white;
}

.footer__text {
    @extend %text-16;
    margin: 0 16px 16px;
}

@media only screen and (max-width: 345px) {

    .footer__text {
        margin: 13px 16px;
    }
}