@import '../../styles/colors.scss';
@import '../../styles/elements.scss';

.order_layout {
    padding: 20px 30px 0;
    flex-grow: 1;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.scale {
    position: relative;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    padding: 2px;
    box-shadow: 0 0 5px $gray-dark;
    overflow: hidden;
}

.scale__progress {
    position: absolute;
    background: linear-gradient(90deg, rgba(207, 243, 125, 0.3) 0%, rgba(125, 232, 140, 0.3) 100%);
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;

    transition-property: width;
    transition-timing-function: linear;
}

.bruce_brigade {
    position: absolute;
    left: 100%;
    display: none;
}

.bruce {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    left: 56px;
}

.rocket {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -22px;
    left: 7px;
    transform: rotate(45deg);
    z-index: -1;
}

.scale__item {
    flex-basis: 50px;
    width: 0;
    z-index: -2;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.controls__count {
    @extend %text-24;
    font-weight: 400;
}

.controls__count_number {
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-weight: 700;
}

.controls__count_number::before {
    content: '> ';
}

.controls__count_number::after {
    content: ' <';
}

.controls__buttons {
    display: flex;
    gap: 0 10px;
}

.destroy_button,
.clear_button {
    @extend %Ğ¸blue-button-round-4;
}

.destroy_button:hover,
.clear_button:hover {
    @extend %button-hover;
}

.destroy_button:disabled,
.clear_button:disabled {
    background-color: $gray-base;
    box-shadow: none;
    cursor: default;
}

.asteroids {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-around;
}

@media only screen and (max-width: 950px) {

    .order_layout {
        padding: 20px 16px 0;
    }

    .controls__count {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .destroy_button,
    .clear_button {
        font-size: 16px;
        line-height: 24px;
        padding: 6px 16px;
    }
}

@media only screen and (max-width: 700px) {
    .controls {
        flex-direction: column;
        padding: 0;
        gap: 8px;
    }

    .order_layout {
        padding: 10px 20px 0;
    }
}

@media only screen and (max-width: 400px) {
    .order_layout {
        padding: 10px 5px;
    }

    .destroy_button,
    .clear_button {
        font-size: 12px;
        line-height: 18px;
        padding: 4px 12px;
    }
}