@import '../../styles/text-presets.scss';
@import '../../styles/colors.scss';

.list_item {
    position: relative;
    transition: all .1s ease-in-out;
}

.list_item:hover {
    cursor: pointer;
    transform: scale(1.05);
}