@import '../../../styles/text-presets.scss';

.option {
    display: flex;
    flex-wrap: wrap;
}

.option__label {
    margin-right: 5px;
}

.option__value {
    cursor: pointer;
    @extend %text-16;
    text-decoration: underline;
}

.option__value_active {
    font-weight: 700;
    text-decoration: none;
}