@import '../../../styles/text-presets.scss';

.option {
    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;
}

.option__values {
    display: flex;
    line-height: 12px;
    margin: 6px 0;
    gap: 0 5px;
}

.option__value {
    cursor: pointer;
    border-bottom: 1px solid;
}

.option__value_active {
    font-weight: 700;
    border: none;
}

@media only screen and (max-width: 500px) {
    .option {
        flex-direction: column;
    }
}