@import '../../styles/text-presets.scss';

.navigation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0 24px;
    margin: 16px 30px 16px 16px;
}

.navigation__link {
    @extend %text-16;
    line-height: 20px;
    height: 16px;
    border-bottom: 1px solid;
}

.navigation__link_active {
    border: none;
    height: 16px;
    font-weight: 700;
}