.list {
    position: absolute;
    top: 240px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    justify-content: space-around;
}

@media only screen and (max-width: 787px) {
    .list {
        top: 286px;
        gap: 20px 2px;
    }
}

@media only screen and (max-width: 599px) {
    .list {
        top: 343px;

    }
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
}

.loader__text {
    display: table;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    font-size: 30px;
}