.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    justify-content: space-evenly;
    margin-top: 40px;
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
}
.loader__text {
    display: table;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    font-size: 30px;
}