@import '../../styles/text-presets';
@import '../../styles/variables.scss';

@keyframes shift {
   0% { background-position-y: 0%; }
   100% { background-position-y: 100% ; }
}

.header_pad {
   height: $header-height-s;
   width: 100%;
   flex-shrink: 0;
}

.header { 
   left: 0; right: 0; top: 0;
   margin: 0 auto;
   position: fixed;
   height: $header-height-s;
   max-width: inherit;
   background-color: var(--bg-color);
   background-image: var(--bg-image);
   background-repeat: no-repeat;
   background-size: cover;

   color: white;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   z-index: 2;
   animation-name: shift;
   animation-timing-function: linear;
   animation-duration: 600s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.content {
   margin-top: 16px;
   margin-left: 30px;
}

.content__title {
   @extend %text-28;
   text-transform: uppercase;
}

.content__description {
   @extend %text-16;
   line-height: 20px;
   margin-top: 8px;
   margin-left: 3px;
}

@media only screen and (min-width: 1600px) {
   .header {
      width: 1600px;
   }
}

@media only screen and (max-width: 790px) {
   .header {
      height: $header-height-m;
      flex-direction: column;
      animation-duration: 250s;
   }

   .content {
      margin-left: 16px;
   }

   .header_pad {
      height: $header-height-m;
   }
}

@media only screen and (max-width: 600px) {
   .header {
      height: $header-height-l;
   }
   
   .content__description {
      margin-left: 0;
      width: 300px;
   }

   .header_pad {
      height: $header-height-l;
   }
}