@import '../../styles/text-presets';

@keyframes shift {
   0% { background-position-y: 0%; }
   100% { background-position-y: 100% ; }
}

@media only screen and (max-width: 1220px) {
   .wrapper {
      width: 1000px;
   }
}

.wrapper { 
   left: 0;
   right: 0;
   position: fixed;
   min-height: 110px;
   background-image: var(--bg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 0%;

   color: white;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   animation-name: shift;
   animation-timing-function: linear;
   animation-duration: 500s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.header {
   margin-top: 16px;
   margin-left: 30px;
}

.header__title {
   @extend %text-28;
   text-transform: uppercase;
}

.header__description {
   @extend %text-16;
   margin-top: 8px;
}