@import 'colors';

:root {
  --bg: $bg-gray;
}
html, body, h1, h2, h3, p {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#__next {
  max-width: inherit;
}

body {
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  top: 0; bottom: 0; left: 0; right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    border: 2px solid black;
    background-color: white;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    width: 9px;
    height: 4px;
    border-radius: 2px;
    border-left: 3px solid $blue-base;
    border-bottom: 3px solid $blue-base;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}